In [ ]:
import numpy as np 
import pandas as pd

In [ ]:
data = pd.read_csv('/content/population_growth.csv') 
data.head()

,Unnamed: 0,Index,District,State,Population,Growth,Sex-Ratio,Literacy
0,0,1,Thane,Maharashtra,"11,060,148",36.01 %,886,84.53
1,1,2,North Twenty Four Parganas,West Bengal,"10,009,781",12.04 %,955,84.06
2,2,3,Bangalore,Karnataka,"9,621,551",47.18 %,916,87.67
3,3,4,Pune,Maharashtra,"9,429,408",30.37 %,915,86.15
4,4,5,Mumbai Suburban,Maharashtra,"9,356,962",8.29 %,860,89.91

In [ ]:
del data['Unnamed: 0']

In [ ]:
data.head()

,Index,District,State,Population,Growth,Sex-Ratio,Literacy
0,1,Thane,Maharashtra,"11,060,148",36.01 %,886,84.53
1,2,North Twenty Four Parganas,West Bengal,"10,009,781",12.04 %,955,84.06
2,3,Bangalore,Karnataka,"9,621,551",47.18 %,916,87.67
3,4,Pune,Maharashtra,"9,429,408",30.37 %,915,86.15
4,5,Mumbai Suburban,Maharashtra,"9,356,962",8.29 %,860,89.91

In [ ]:
del data['Index']

In [ ]:
data.head()

,District,State,Population,Growth,Sex-Ratio,Literacy
0,Thane,Maharashtra,"11,060,148",36.01 %,886,84.53
1,North Twenty Four Parganas,West Bengal,"10,009,781",12.04 %,955,84.06
2,Bangalore,Karnataka,"9,621,551",47.18 %,916,87.67
3,Pune,Maharashtra,"9,429,408",30.37 %,915,86.15
4,Mumbai Suburban,Maharashtra,"9,356,962",8.29 %,860,89.91

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 640 entries, 0 to 639
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   District    640 non-null    object
 1   State       640 non-null    object
 2   Population  640 non-null    object
 3   Growth      640 non-null    object
 4   Sex-Ratio   640 non-null    int64
 5   Literacy    640 non-null    float64
dtypes: float64(1), int64(1), object(4)
memory usage: 30.1+ KB

In [ ]:
def preplacer(i):
  return int(i.replace(',','')) 
data['Population'] = data["Population"].apply(preplacer)
# data.head()

In [ ]:
# for i in data['Growth']:
  # i.replace(' %', '') 
def replacer(i):
  return i.replace(' %','')
data["Growth"] = data["Growth"].apply(replacer)
data.head()

,District,State,Population,Growth,Sex-Ratio,Literacy
0,Thane,Maharashtra,11060148,36.01,886,84.53
1,North Twenty Four Parganas,West Bengal,10009781,12.04,955,84.06
2,Bangalore,Karnataka,9621551,47.18,916,87.67
3,Pune,Maharashtra,9429408,30.37,915,86.15
4,Mumbai Suburban,Maharashtra,9356962,8.29,860,89.91

In [ ]:
data['Growth'] = data['Growth'].astype('float32')

In [ ]:
data.dtypes

District       object
State          object
Population      int64
Growth        float32
Sex-Ratio       int64
Literacy      float64
dtype: object

In [ ]:
data.sort_values(by=['Growth'], ascending=False, inplace=True)

In [ ]:
data[data["Population"]>1000000].head(30)

,District,State,Population,Growth,Sex-Ratio,Literacy
327,Gurgaon,Haryana,1514432,73.959999,854,84.70
16,Rangareddy,Andhra Pradesh,5296741,48.160000,961,75.87
2,Bangalore,Karnataka,9621551,47.180000,916,87.67
88,Bahraich,Uttar Pradesh,3487731,46.480000,892,49.36
26,Ghaziabad,Uttar Pradesh,4681645,42.270000,881,78.07
11,Surat,Gujarat,6081322,42.240002,787,85.53
190,Bikaner,Rajasthan,2363937,41.189999,905,65.13
56,Kancheepuram,Tamil Nadu,3998252,38.950001,986,84.49
421,Anantnag,Jammu and Kashmir,1078692,38.580002,927,62.69
419,Mewat,Haryana,1089263,37.930000,907,54.08
303,Gautam Buddha Nagar,Uttar Pradesh,1648115,37.110001,851,80.12
0,Thane,Maharashtra,11060148,36.009998,886,84.53
69,Thiruvallur,Tamil Nadu,3728104,35.330002,987,84.03
52,Raipur,Chhattisgarh,4063872,34.700001,984,75.56
301,Udham Singh Nagar,Uttarakhand,1648902,33.450001,920,73.10
151,Bilaspur,Chhattisgarh,2663629,33.290001,971,70.78
104,Indore,Madhya Pradesh,3276697,32.880001,928,80.87
262,Faridabad,Haryana,1809733,32.540001,873,81.70
157,Barmer,Rajasthan,2603751,32.520000,902,56.53
290,Dehradun,Uttarakhand,1696694,32.330002,902,84.25
218,Kachchh,Gujarat,2092371,32.160000,908,70.59
432,Chatra,Jharkhand,1042886,31.770000,953,60.18
230,Madhepura,Bihar,2001762,31.120001,911,52.25
439,Jhabua,Madhya Pradesh,1025048,30.700001,990,43.30
198,South West Delhi,Delhi,2292958,30.650000,840,88.28
247,Haridwar,Uttarakhand,1890422,30.629999,880,73.43
292,Kishanganj,Bihar,1690400,30.400000,950,55.46
3,Pune,Maharashtra,9429408,30.370001,915,86.15
137,Araria,Bihar,2811569,30.250000,921,53.53
295,Khagaria,Bihar,1666886,30.190001,886,57.92